extends ../layouts/common
block script
  // Page level plugins
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/vendor/datatables/dataTables.bootstrap4.min.js')
  // Page level custom scripts
  script(src='/js/demo/datatables-demo.js')
block css
  // Custom styles for this page
  link(href='vendor/datatables/dataTables.bootstrap4.min.css', rel='stylesheet')
block content
  .container-fluid
    //- //Modal page
    //- #confirm-unblock.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unBlockModal', aria-hidden='true')
    //-   .modal-dialog
    //-     .modal-content
    //-       .modal-header
    //-         | Mở khóa tài khoản
    //-       .modal-body
    //-         | Bạn có chắc muốn mở khóa tài khoản này?
    //-       .modal-footer
    //-         button.btn.btn-default(type='button', data-dismiss='modal') Hủy
    //-         a.btn.btn-success.btn-ok(style="color:white;") Mở khóa

    //- #confirm-block.modal.fade(tabindex='-1', role='dialog', aria-labelledby='BlockModal', aria-hidden='true')
    //-   .modal-dialog
    //-     .modal-content
    //-       .modal-header
    //-         | Khóa tài khoản
    //-       .modal-body
    //-         | Bạn có chắc muốn khóa tài khoản này?
    //-       .modal-footer
    //-         button.btn.btn-default(type='button', data-dismiss='modal') Hủy
    //-         a.btn.btn-danger.btn-ok(style="color:white;") Khóa

    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Quản lý hành trình
    //-   a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='/user/create')
    //-     |  Thêm tài khoản
    // DataTales Example
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Danh sách Hành trình
      .card-body
        .table-responsive
          table#dataTable.table.table-bordered(width='100%', cellspacing='0')
            thead
              tr
                th Id
                th Điểm đi
                th Điểm dến
                th Thời gian
                th Tạo bởi
                th Ngày tạo
                th Ngày cập nhật
                th
            tfoot
              tr
                th Id
                th Điểm đi
                th Điểm dến
                th Thời gian
                th Tạo bởi
                th Ngày tạo
                th Ngày cập nhật
                th 
            tbody
              //- each val in listHT
                tr
                //-   td= val.display_name
                //-   td= val.email
                //-   td= val.phone
                //-   td= moment(val.create_at).format('DD/MM/YYYY')
                //-   td= val.update_at? moment(val.update_at).format('DD/MM/YYYY') : null
                //-   td
                //-     a(href="/user/"+val._id) Sửa &nbsp; &nbsp;
                //-     if val.status===1
                //-       a(href='#', data-href="/user/block/"+val._id, data-toggle='modal', data-target='#confirm-block' style="color:red;") khóa
                //-     else
                //-       a(href='#', data-href="/user/unblock/"+val._id, data-toggle='modal', data-target='#confirm-unblock' style="color:gray;") Đã khóa
                // /.container-fluid